.profile-image {
    height: 180px; 
    width: 180px;
    object-fit: cover;
}

.navbar {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.header-content {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.main-content {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}